.tabsContainer {
    width: 75%;
    margin: 1rem;
}

@media only screen and (min-width: 600px) {
    .tabsContainer {
        margin: 10rem;
    }
}
.tabsNav {
    display: flex;
    flex-shrink: 0;
    height: 60px;
}

.tabButton {
    padding: 10px;
    background: none;
    background-color: rgba(224, 224, 224, 0.6);
    cursor: pointer;
    outline: none;
    border: none;
}

.tabButton:active {
    background-color: white;
    border-top: 2px solid rgba(192, 192, 192, 1);
}

.tabButton:hover {
    background-color: white;
    border-top: 2px solid rgba(192, 192, 192, 1)
}

.tabButton:not(:last-of-type) {
    border-right: 2px solid white;
}

.active {
    background: white;
    border-top: 2px solid rgba(192, 192, 192, 1);
    font-weight: bold;
    font-size: 0.65rem;
}

.content {
    padding: 20px;
    display: none;
    font-size: 0.9rem;
}

.activeContent {
    display: block;
}